/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #eaeaea;
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: var(--main-bg-color);
  /* text-shadow: var(--shadow-color) -2px 2px 8px; */
  font-family: sans-serif, "helvetica";
  margin: 0 auto;
}

#container {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  touch-action: none;
  justify-content: center;
  align-items: center;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

table td {
  background-color: #fdfbf9;
  display: flex;
  border: 1px red dashed;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  padding: 10px;
  font-size: 36px;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  text-transform: lowercase;
  overflow: hidden;
  cursor: pointer;
  font-family: 楷体, 楷体_gb2312, "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, TW-Kai, web-fz;
}

tr:first-child td:first-child {
  color: black;
}

tr:first-child td:first-child::before {
  content: "(refresh)";
  color: rgb(184, 184, 184);
  font-family: serif;
  font-size: 12px;
  position: absolute;
  text-align: center;
  top: 65px;
}

.gray {
  color: rgb(184, 184, 184);
}

table td span {
  margin: -17px 3px;
  max-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* https://stackoverflow.com/a/19848543 */
td {
  background: 
    linear-gradient(to top left,
        rgba(255,0,0,0) 0%,
        rgba(255,0,0,0) calc(50% - 0.1px),
        rgba(255,0,0,1) 50%,
        rgba(255,0,0,0) calc(50% + 0.1px),
        rgba(255,0,0,0) 100%),
    linear-gradient(to top right,
        rgba(255,0,0,0) 0%,
        rgba(255,0,0,0) calc(50% - 0.1px),
        rgba(255,0,0,1) 50%,
        rgba(255,0,0,0) calc(50% + 0.1px),
        rgba(255,0,0,0) 100%);
}