/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
  font-family: sans-serif, "helvetica";
  text-transform: capitalize;
  margin: 0 auto;
  cursor: pointer;
}


table {
  margin-top: 30vh;
  background-color: #e5e6cbf5;
  border-collapse: collapse;
  border: 3px red dashed;
}

td {
  border: 1px red dashed;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  font-size: 38px;
  color: red;
  text-shadow: none;
  text-transform: lowercase;
}

#td-1 {
  text-align: right;
  vertical-align: bottom;
}

#td-2 {
  text-align: left;
  vertical-align: bottom;
}

#td-3 {
  text-align: right;
  vertical-align: top;
}

#td-4 {
  text-align: left;
  vertical-align: top;
}

button {
  cursor: pointer;
  position: absolute;
}