/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
  font-family: sans-serif, "helvetica";
  margin: 0 auto;
  overflow: hidden;
  z-index: 100;
}

#container {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  touch-action: none;
  z-index: 10;
}

#radicals {
  /*padding: 16px 16px 0 24px; */
  width: 100vw;
  justify-content: flex-start;
  display: flex;
  height: 45%;
  /* position: fixed; */
  flex-flow: column wrap;
  overflow: scroll;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.bit {
  border: 1px dashed var(--shadow-color);
  line-height: 2em;
  font-size: 1.2em;
  width: 43px;
  color: var(--main-text-color);
}

.bit:hover {
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

.bit:active {
  background-color: var(--shadow-color);
}

#maker {
  overflow: scroll;
  width: 100vw;
  height: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  /* height: 50%; */
  margin-top: 100px;
}

#alphabeticals {
  width: 100vw;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  display: flex;
  height: 86px;
  flex-flow: column wrap;
  overflow: scroll;
}

table {
  z-index: 1;
  background-color: #f3debe;
  border-collapse: collapse;
  border: 3px red dashed;
}

td {
  border: 1px red dashed;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  font-size: 48px;
  color: red;
  text-shadow: none;
  text-transform: lowercase;
  /* background: url("https://www.an2.net/zi/images/bg12.svg") center center no-repeat; */
  color: rgb(184, 184, 184);
  font-family: 楷体, 楷体_gb2312, "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, TW-Kai, web-fz;
}

#td-1 {
  text-align: right;
  vertical-align: bottom;
}

#td-2 {
  text-align: left;
  vertical-align: bottom;
}

#td-3 {
  text-align: right;
  vertical-align: top;
}

#td-4 {
  text-align: left;
  vertical-align: top;
}

/* https://stackoverflow.com/a/19848543 */
.crossed {
  background: 
    linear-gradient(to top left,
        rgba(255,0,0,0) 0%,
        rgba(255,0,0,0) calc(50% - 0.1px),
        rgba(255,0,0,1) 50%,
        rgba(255,0,0,0) calc(50% + 0.1px),
        rgba(255,0,0,0) 100%),
    linear-gradient(to top right,
        rgba(255,0,0,0) 0%,
        rgba(255,0,0,0) calc(50% - 0.1px),
        rgba(255,0,0,1) 50%,
        rgba(255,0,0,0) calc(50% + 0.1px),
        rgba(255,0,0,0) 100%);
}

body button {
  z-index: 2 !important;
}